# .env — DO NOT COMMIT
PRIVATE_KEY=
# Treasury wallet — khusus terima fee, JANGAN sama dengan deployer
TREASURY_PRIVATE_KEY=
USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
ARC_RPC_URL=https://rpc.testnet.arc.network
